@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Pretendard';
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
