@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Pretendard';
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
